## Title to Skills
***
The goal of this workflow is to demonstrate (using Emsi's Job Postings API) how to get back a list of skills related to a given job title.

In [1]:
# import the library and establish the connection
from EmsiApiPy import UnitedStatesPostingsConnection

conn = UnitedStatesPostingsConnection()

In [4]:
# first, we'll search for a job title by name
conn.get_taxonomies(
    facet = "title",  # the type of data we're searching for
    q = "Data Scientists",  # the name of the title we want to search by
    querystring={
        "title_version": "emsi",  # we want to use Emsi's new job title library
        "limit": 5   # let's keep it to 5 outputs from the API
    }
)

[{'id': 'ET3B93055220D592C8',
  'name': 'Data Scientists',
  'properties': {'singular_name': 'Data Scientist', 'unique_postings': 78341},
  'score': 5992.0645},
 {'id': 'ET66EFA7BC3A32BB32',
  'name': 'Managers/Data Scientists',
  'properties': {'singular_name': 'Manager/Data Scientist',
   'unique_postings': 26779},
  'score': 153.67143},
 {'id': 'ET5F758027D5A9C1D1',
  'name': 'Principal Data Scientists',
  'properties': {'singular_name': 'Principal Data Scientist',
   'unique_postings': 9179},
  'score': 139.10365},
 {'id': 'ETB15B6675998124CE',
  'name': 'Lead Data Scientists',
  'properties': {'singular_name': 'Lead Data Scientist',
   'unique_postings': 6565},
  'score': 134.54364},
 {'id': 'ETB36F39C5B8DECF63',
  'name': 'Associate Data Scientists',
  'properties': {'singular_name': 'Associate Data Scientist',
   'unique_postings': 4577},
  'score': 129.63628}]

In [8]:
payload = {
    "filter": {
        "when": "active",  # currently active job postings
        "title": ["ET3B93055220D592C8"]  # the unique identifier for the data scientist job title
    },
    "rank": {
        "by": "unique_postings",  # we get the top skills based on the number of times that skill was posted
        "limit": 10   # limit to the top 10 skills. this list could be long.
    }    
}

df = conn.post_rankings_df(
    facet = "skills_name",  # we're going to get the top skills
    payload = payload,
    querystring = {"title_version": "emsi"}
)
df

                     skills_name  unique_postings
0                   Data Science             3817
1  Python (Programming Language)             2849
2               Machine Learning             2554
3       R (Programming Language)             2204
4     SQL (Programming Language)             1803
5                     Statistics             1614
6                 Communications             1546
7                     Basic Math             1513
8                  Data Analysis             1473
9                     Algorithms             1440